body {
    font-family: 'Karla', sans-serif;


}

h1 {
    font-size: 60px;
}

.top-banner {
    background-image: url(donation13.jpg);
    color: white;
    text-align: center;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;


}

.anchor-tag {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(173, 92, 109);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    border-color: white;

}