body {
    font-family: 'Karla', sans-serif;


}

h1 {
    font-size: 60px;
}

.top-banner {
    background-image: url(donation13.jpg);
    color: white;
    text-align: center;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;


}

.anchor-tag {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(252, 114, 114);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}

.donate-today {
    text-align: center;
}

h2 {
    width: 251px;
    height: 33px;
    padding-left: 15px;
    border: 2px solid #919191;
    outline: 0px;
    color: #919191;
    margin-bottom: 15px;
    background: transparent;
    display: flex;
    margin: 4px;
}

.flexible {
    display: flex;
    padding: 30px;
}

.shadow {
    border-color: red;
    background-color: rgb(237, 199, 199);
}

.other {
    text-decoration: underline;

}